@import "tailwindcss";


/* WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 9999px;
  background: white;
  cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 9999px;
  background: white;
  cursor: pointer;
}



